[submodule ".anyenv"]
	path = .anyenv
	url = https://github.com/riywo/anyenv
	ignore = dirty
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
	ignore = dirty
[submodule ".zsh/z"]
	path = .zsh/z
	url = https://github.com/rupa/z
	ignore = dirty
[submodule ".zsh/antigen"]
	path = .zsh/antigen
	url = https://github.com/zsh-users/antigen.git
	ignore = dirty
[submodule ".zsh/cool-peco"]
	path = .zsh/cool-peco
	url = https://github.com/ryoppy/cool-peco
	ignore = dirty
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/kegamin/prezto.git
[submodule ".zsh/zaw"]
	path = .zsh/zaw
	url = http://github.com/zsh-users/zaw.git
	ignore = dirty
