[submodule ".anyenv"]
	path = .anyenv
	url = https://github.com/riywo/anyenv
[submodule "etc/profile/zaw"]
	path = etc/profile/zaw
	url = git://github.com/zsh-users/zaw.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
